@import "./font";

@mixin font-robot {
    font-family: 'Dancing Script', cursive;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'Inspiration', cursive;
    font-family: 'Roboto', sans-serif;
}
